VITE_API_URL=https://your-backend-domain.com/adam/api/
VITE_PUBLIC_DOMAIN=https://your-backend-domain.com/adam/
VITE_API_KEY=
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_CLIENT_SECRET=
VITE_FIREBASE_KEY=
VITE_SUCCESS=https://your-frontend-domain.com/?purchase=true
VITE_DASHBOARD=change-me-to-a-random-path
VITE_POSTMAN=

VITE_NOTIFICATION_PROVIDER=firebase
VITE_NTFY_VAPID_PUBLIC_KEY=
